.line{
    background-color: black;
    height: 6px;
    width: 70px;
    margin: 8px auto;
}
body{
    text-align: center;
}
h1{
font-size: 41px;
font-weight: 300;
}
#app{
    background-color: chocolate;
}
#games{
    background-color: cyan;
}
#myCarrossel { background-color: red; } #myCarousel img { height: 300px; margin-top: 35px; } .carousel-inner p { margin-top: 15px; color : white; font-size: 20px; }